<h1>About US</h1>
<p>We are a community of friends and families looking to promote sustainability without compromising on quality and safety. Dee Duper was born out of watching parents spend hard-earned money on new products that are used minimally. Meanwhile, our friends and family both far away and close by have needs to support their growing families.<br><br>

Dee Duper aims to serve those in our network with gently used kids goods by connecting each other. With Dee Duper, parents are able to search for goods they need within a safer network; while on the flipside, parents are able to recoup some of the investment by selling their gently used goods.<br><br>

We are based in Atlanta, GA, and led by a team of family-oriented entrepreneurs experienced technology startups. If you have any questions, reach out to Daryl at <a href="mailto:daryl+deeduper@gmail.com">daryl+deeduper@gmail.com</a>.
</p>