<div class="jumbotron">
  <div class="-fluid">
    <table>
      <td>
        <h1>It's [Super] Dee Duper</h1>
        <p>Parents, buying and selling your kids' stuff was never so easy</p>
      </td>
      <td>
        <img src="/assets/iPhone-and-Android.png" class="img_responsive" alt="Dee Duper apps" height="300px">
      </td>
    </table>
  </div>
</div>

<div class="container">
  <p class="text-center">
    <img src="/assets/comingsoon.png" class="img_responsive" alt="Coming Soon!" height="50px">
  </p>
</div>

<div class="container">
    <blockquote>Let's face it -- kids grow fast and quickly outgrow clothes, toys, cribs, everything. Dee Duper makes buying and selling gently used treasures easier, faster, and more trustworthy. All at your finger tips.</blockquote>
</div>
