<div class="jumbotron">
  <div class="-fluid">
    <table>
      <td>
        <h1>It's [Super] Dee Duper</h1>
        <p>Parents, buying and selling your kids' stuff was never so easy</p>
      </td>
      <td>
        <img src="/assets/iPhone-and-Android.png" class="img_responsive" alt="Dee Duper apps" height="300px">
      </td>
    </table>
  </div>
</div>

<div class="container">
  <p class="text-center">
    <img src="/assets/comingsoon.png" class="img_responsive" alt="Coming Soon!" height="50px">
  </p>
</div>

<div class="container">
    <blockquote>Let's face it -- kids grow fast and quickly outgrow clothes, toys, cribs, everything. Dee Duper makes buying and selling gently used treasures easier, faster, and more trustworthy. All at your finger tips.</blockquote>
</div>


<!-- Begin MailChimp Signup Form -->
<div class="center-block">
  <div class="panel panel-default">
    <div id="mc_embed_signup">
      <form action="//deeduper.us9.list-manage.com/subscribe/post?u=0bb8d36dd175123674683c4d0&amp;id=534ca88369" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="panel-heading">
            <h2>Subscribe to our mailing list</h2>
          </div>
          <div class="panel-body">
            
            <div class="form-group">
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
              </div>
            </div>
            
            <div class="form-group">
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
              </div>
            </div>

            <div class="form-group">
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
              </div>
            </div>
            
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_0bb8d36dd175123674683c4d0_534ca88369" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
          </div>
          <div class="panel-footer">
            <div class="indicates-required"><span class="asterisk">*</span> indicates required
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--End mc_embed_signup-->