<h1>Terms and Conditions</h1>

1. Eligibility of Use
<p>Thank you for visiting the Dee Duper website and online service. Dee Duper (collectively known as the “Service” or the “Company”) is an online marketplace service distributing content supplied by third party merchants and consumers. Dee Duper provides parties with transactional capabilities in addition to the ability to connect merchants (“Sellers”) and buyers. All goods, services, and offers are provided by the sellers. As such Dee Duper does not guarantee performance of said good, services, or offers (“Listings”).<br><br>

Dee Duper provides a web site and the Dee Duper service to you (“User”, “Member”, “Membership”) subject to the following terms and conditions (including the Terms of Use and Privacy Policy) for which you are able to use our service, website, mobile device software application, web feeds, applications and affiliations for third-party websites and services, and any other web services and applications controlled, owned, or operated by the Company.. Please read and understand them carefully.<br><br>

We reserve the right to amend this Agreement as we see fit at any time. Continued access and use of our Service implicates your review, understanding, and agreement of the changes.<br><br>

By using Dee Duper, you agree to be bound by these Terms and Conditions (the “Agreement”). If you do not wish to be bound to this Agreement, you must not use Dee Duper.
</p>

<h2>Terms of Use</h2>
<h3>1. Eligibility of Use</h3>
<p>You must be thirteen (13) years of age or older to use Dee Duper. If you are between the ages of thirteen (13) and eighteen (18), you must have parental consent to use Dee Duper.
</p>

<h3>2. Limited License</h3>
<p>Unless otherwise specified, Dee Duper and all its contents and other materials on or made available by Dee Duper, including, without limitation, the Dee Duper logo, designs, text, graphics, media (pictures, sound, videos, other), information, data, files, softwares, and the selection and arrangement thereof (collectively, the “Materials”) are proprietary to Dee Duper or its affiliates and licensors, and protected by the United States and international copyright laws. Except as otherwise indicated, subject to your compliance with all of the terms and conditions of the Agreement, and in consideration of your promises reflected herein (and with respect to any services requiring payment of fees, your payments of such fees), we grant you a revocable, personal, non-exclusive, non-assignable, and non-transferable license for personal, non-commercial purposes, except where explicitly provided otherwise by the Company, to (1) access and use Dee Duper and its service; (2) limited display of the Materials displayed to a single computer or mobile device; and (3) use of the Materials solely as permitted under the Agreement (the “License”). <br><br>

Dee Duper and its affiliates reserve all rights not expressly granted to you in this Agreement.
</p>

<h3>3. General Restrictions</h3>
<p>You will comply with all applicable laws, those terms set forth in this Agreement. Additionally, you will not:
  <ul>
    <li>engage in any unauthorized use of Dee Duper or Materials (including, without limitation, political campaigning, advertising, marketing, solicitations, promotions, resale or other commercial uses);</li>
    <li>transmit or otherwise make available any content that: (i) you do not have the right to provide or transmit using Dee Duper, (ii) may expose Dee Duper or its affiliates, licensors, or users to any harm or liability, or (iii) is unlawful, untrue, or otherwise objectionable;</li>
    <li>transmit or otherwise make available any content that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
    <li>copy any portion of Dee Duper or Materials or any underlying content or source code;</li>
    <li>reverse engineer, disassemble or decompile any portion of Dee Duper or Materials, or otherwise attempt to discover or re-create the source code to any software;
    <li>distribute the software or source code behind Dee Duper or Materials to any third party;</li>
    <li>make any modification, adaptation, improvement, enhancement, translation or derivative work of or to any portion of Dee Duper or Materials;</li>
    <li>remove, alter, or obscure any copyright or other proprietary notices of Dee Duper or its affiliates or licensors in any portion of Dee Duper or Materials;</li>
    <li>obscure or disable any advertisements that appear on or through Dee Duper;</li>
    <li>use any type of automated means to utilize Dee Duper or Materials;</li>
    <li>access without authorization any networks, systems, or databases used in providing Dee Duper or any accounts associated with Dee Duper, or to access or use any information therein for any purpose;</li>
    <li>attempt to probe, test, hack, or otherwise circumvent any security measures;</li>
    <li>violate any requirements, policies, procedures or regulations of any network connected to Dee Duper;</li>
    <li>use any of Dee Duper in any manner that could damage, disable, overburden, or otherwise impair Dee Duper (or the networks connected to Dee Duper);</li>
    <li>interfere with or disrupt the use and enjoyment by others of Dee Duper or the Materials;</li>
    <li>falsely state, impersonate, or otherwise misrepresent your identity;</li>
    <li>use Dee Duperor Materials in any manner to stalk, harass, invade the privacy of, or otherwise cause harm to, any person;</li>
    <li>use Dee Duper or Materials in any manner that exposes the Company to any harm or liability of any nature;</li>
    <li>use Dee Duper or Materials in violation of any federal, state, or local law, rule, or regulation, whether now existing or enacted in the future.</li>
  </ul>
</p>

<h3>4. Termination of License</h3>
<p>Dee Duper may terminate your access to all or part of the Service at any time for any reason or no reason at all. The Company reserves the right to terminate your License and may refuse to provide you with any and all current or future use of the Service.<br><br>

If you wish to terminate access this Agreement or your Membership, you may cancel through your Account page or contacting the Company directly. All provisions of this Agreement which by their nature should survive your termination including without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
</p>

<h3>5. Termination of Service</h3>
<p>Dee Duper maintains the right to discontinue, terminate, suspend, or shut down (“event”) the Service at any time for any or no reason. The Company may give notice of such event through any means, including, but not limited to, making such notice available on or through Dee Duper, or publicly of such event.<br><br>

Upon any such event by Dee Duper, your License shall automatically terminate with respect to the Service and you must immediately stop using all affected Service.
</p>

<h3>6. [Your] Accounts</h3>
<p>In order to access parts of Dee Duper, you may be prompted to register/ create a Dee Duper account (“Account”) as a User. In creating your Account, you must sign up through your Facebook account -- third-party web and service for which your account login information is accessed and stored. By creating your Account through Facebook, you will must provide certain information (“Registration Data”) and answer all inquiries marked “required”.<br><br>

You agree: (1) the Registration Data you provide will be true, accurate, current, and complete at the time you provide it; (2) to maintain and update such Registration Data to keep it true, accurate, current, and complete; and (3) that Dee Duper may contact you and require you to confirm some or all of your Registration Data before or during use of the Service. The Company reserves the right to terminate or suspend your License to the Service at any time should if in the Company’s sole discretion determine or are of the opinion that any of your Registration Data is, or appears to be, untrue, inaccurate, non-current, and/ or incomplete.
</p>

<h3>7. Account Security</h3>
<p>You are responsible for maintaining the confidentiality of your account credentials and for all activities, charges, and or liabilities that occur from your account, whether or not authorized by you. <br><br>

In case of any unauthorized use of your account credentials or any other breach of security, immediately notify Dee Duper. We will not be liable for any loss or damage arising from your failure to comply with the terms of this Agreement.
</p>

<h3>8. User Content</h3>
<p>Each User is responsible for any content or information he or she posts or transmits on the Service. Dee Duper assumes no responsibility for the conduct of any user submitting any content or for the information transmitted by any User. <br><br>

You shall not make available in the Service any material or information that infringes any copyright, trademark, patent, trade secret, right of privacy, right of publicity, or other right of any person or entity or impersonates any other person.<br><br>

Dee Duper assumes no responsibility for monitoring the Service for inappropriate or illegal content or conduct, and has no obligation to monitor User content. To the extent Dee Duper becomes aware of any User content it shall have the right, in its sole discretion, to edit, refuse to post, or remove any player content. As you use the Services, Hinge may monitor and/or record your use of the Services and/or communications while you are playing the Services and you hereby provide your irrevocable consent to such monitoring and recording.
</p>

<h3>9. Privacy</h3>
<p>Dee Duper holds your privacy and security of the utmost importance, and is committed to protecting your privacy. The personal information you provide to the Company in connection with Dee Duper is govern by our Privacy Policy. Please read and understand the Privacy Policy carefully before using Dee Duper.
</p>

<h3>10. Disclaimer of Warranties, Limitation of Damages, and Release and Indeminification</h3>
<p>You agree that the provisions of this section will survive any termination of your account or of the Services.<br><br>

THE SERVICES AND ALL RELATED SERVICES ARE PROVIDED BY DEE DUPER ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE, NON-INFRINGEMENT, OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. DEE DUPER DOES NOT WARRANT THAT ANY INFORMATION IS COMPLETE OR ACCURATE, THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR FREE OR THAT ANY INFORMATION IS FREE OF VIRUSES AND/OR ROGUE OR MALICIOUS PROGRAMMING.<br><br>

UNDER NO CIRCUMSTANCES, INCLUDING NEGLIGENCE, SHALL DEE DUPER BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES THAT MAY RESULT FROM THE USE OR INABILITY TO USE THE SERVICES, INCLUDING WITHOUT LIMITATION USE OF OR RELIANCE ON INFORMATION AVAILABLE ON THE SERVICES, INTERRUPTIONS, ERRORS, DEFECTS, MISTAKES, OMISSIONS, DELETIONS OF FILES, DELAYS IN OPERATION OR TRANSMISSION, NON-DELIVERY OF INFORMATION, DISCLOSURE OF COMMUNICATIONS, OR ANY OTHER FAILURE OF PERFORMANCE.<br><br>

IN NO EVENT SHALL THE AGGREGATE LIABILITY OF DEE DUPER, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF OR INABILITY TO USE THE SERVICES EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO DEE DUPER FOR ACCESS TO OR USE OF THE SERVICES.<br><br>

YOU HEREBY RELEASE AND WAIVE ANY AND ALL CLAIMS AND/OR LIABILITY AGAINST DEE DUPER ARISING FROM OR IN CONNECTION WITH YOUR USE OF THE SERVICES. YOU ALSO AGREE TO DEFEND, INDEMNIFY AND HOLD HARMLESS, DEE DUPER, FROM AND AGAINST, ANY AND ALL CLAIMS OR LIABILITY, INCLUDING COSTS AND ATTORNEYS FEES, ARISING FROM OR IN CONNECTION WITH YOUR USE OF THE SERVICE OR FAILURE TO ABIDE BY APPLICABLE LAW.
</p>

<h3>11. Indemnification Obligations</h3>
<p>You agree to hold harmless, defend and indemnify Dee Duper from all liabilities, losses, damages, deficiencies, claims, causes of action, demands and expenses (including, but not limited to, reasonable attorneys’ fees), that are to due to arise from or otherwise relate to your conduct or your use or misuse of any of Dee Duper or Materials, including, without limitation, any actual or threatened suit, demand or claim made against any Dee Duper provider that arises out of or relates to: (1) any intellectual property rights or other proprietary right of any third party; (2) your breach of this Agreement including without limitation of your breach of any of your representations and warranties; (3) your use of any of Dee Duper or Materials; or (4) any content that you store on or transmit through Dee Duper. Dee Duper may assume exclusive control of any defense of any matter subject to indemnification by you, and you agree to cooperate with Dee Duper in such event.
</p>

<h3>12. Spam and Communications Guidelines</h3>
<p>You may not use Dee Duper, Materials, or any name, trademarks, or other intellectual property of Dee Duper in conjunction with the sending of unsolicited commercial email, nor may you cause any Dee Duper, website, service, product, or equipment, network connectivity or other resources to originate, deliver, relay, or otherwise transmit unsolicited commercial email messages. Further, you may not engage in any of the foregoing prohibited activities by use any other provider, third-party agent, re-mailing service, or address forwarding service in such a way that likely to be associated with the sending of unsolicited commercial email.<br><br>

Other prohibited methods of advertising or promoting your involvement with Dee Duper include, but are not limited to: (1) postings or transmissions of messages in violation of any published guidelines or specifications for the use of any service that allows you to post or transmit messages; or (2) postings or transmissions of messages in violation of any published guidelines or specifications for the use of any service that allows you to post or transmit messages; or (3) multiple or otherwise abusive postings or transmissions of messages to newsgroups, mailing lists, chat rooms, instant messaging programs, social networking sites, or networks or other online forums. <br><br>

Please report any incidents of “spamming” or similar inappropriate behavior to Dee Duper immediately.
</p>

<h3>13. Third-Party Links</h3>
<p>Dee Duper may, as a convenience to its Users, make links to third-party websites, applications, or other resources available on or through Dee Duper. Dee Duper is not responsible in anyway for, and does not make any representation, warranty or guarantee regarding any third-party web sites, applications, and other resources which may be accessed through Dee Duper. In addition, Dee Duper does not endorse or adopt, and is not responsible or liable for: (1) any content, advertising, goods or services, or other materials available on or from such websites, applications, or other resources; (2) any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, advertising, goods, services or other materials on or available from such websites, applications, or other resources.
</p>

<h3>14. Severability</h3>
<p>If the final determination of a court of competent jurisdiction declares, after the expiration of the time within which judicial review, that any term or provision hereof is invalid or unenforceable, (1) the remaining terms and provisions hereof shall be unimpaired and (2) the invalid and unenforceable term or provision shall be replaced by a term or provision that is valid and enforceable and that comes closest to expressing the intention of the invalid or unenforceable term or provision.
</p>

<h3>15. Waiver</h3>
<p>Any of the terms and conditions of this Agreement may be waived at any time and from time to time in writing by the party entitled to the benefit thereof, but a waiver in one instance shall not be deemed to constitute a waiver in any other instance. A failure to enforce any provision of this Agreement shall not operate as a waiver of this provision or of any other provision hereof.
</p>

<h3>16. Governing Law</h3>
<p>This Agreement shall be governed by and construed in accordance with the laws of the State of Georgia without giving effect to its conflicts of law principles. Dee Duper and User: (1) agree that any legal suit, action or proceeding arising out of or relating to this agreement and/or the transactions contemplated hereby shall be instituted exclusively in Georgia, County of Dekalb, or in the United States District Court for the Northern District of Georgia, (2) waive any objection which it may have or hereafter have to the venue of any such suit, action or, proceeding, and (3) irrevocably consent to the jurisdiction and venue of the above courts in any such suit, action or proceeding, and waive the right to assert forum non-conveniens.
</p>